<lr-modal>
  <ng-container modalTitle>
    Create case
  </ng-container>

  <form
    [formGroup]="form"
    modalContent>

    <label class="lr-default-label">
      <span>Name</span>

      <input
        autocomplete="off"
        formControlName="name"
        placeholder="Give your trial case a name"
        type="text"
        class="lr-filled-input">
    </label>

    <div class="lr-default-label">
      <span>Description</span>

      <lr-text-editor
        formControlName="description"
        placeholder="Add some details about this trial case">
      </lr-text-editor>
    </div>
  </form>

  <ng-container modalFooter>
    <button
      (click)="closeModal()"
      type="button"
      class="cancel-button"
    >
      cancel
    </button>

    <button
      (click)="initCaseCreation()"
      class="primary-button"
      [disabled]="form.status === 'INVALID' || form.disabled"
    >
      create case
      <div *ngIf="form.disabled" class="btn-loader"></div>
    </button>
  </ng-container>
</lr-modal>


