@import 'colorsPalette';

// COVERS
$COVER_PURE_WHITE: $WHITE_0;
$COVER_LIGHT_WHITE: $WHITE_1;
$COVER_GRAY_TO_BLACK: $GRAY_0;
$COVER_DARK_GRAY: $GRAY_1;
$COVER_GRAY: $GRAY_2;
$COVER_LIGHT_GRAY: $GRAY_3;
$COVER_GRAY_TO_WHITE: $GRAY_4;
$COVER_DARK_BLUE: $BLUE_0;
$COVER_BLUE: $BLUE_3;
$COVER_LIGHT_BLUE: $BLUE_1;
$COVER_PURE_BLACK: $BLACK_0;
$COVER_PINK: $PINK_0;
$COVER_RED: $RED_0;
$COVER_DARK_RED: $RED_1;
$COVER_YELLOW: $YELLOW_0;
$COVER_PURPLE: $PURPLE_0;
$COVER_GREEN: $GREEN_2;
$COVER_TRANSPARENT: transparent;


// SEP LINE
$SEPARATION_LINE_LIGHT_GRAY: $GRAY_2;

// TEXT
$TEXT_BLACK: $BLACK_0;
$TEXT_LIGHT_BLACK: $BLACK_1;
$TEXT_DARK_GRAY: $GRAY_0;
$TEXT_GRAY: $GRAY_0_5;
$TEXT_DARK_BLUE: $BLUE_0;
$TEXT_DARK_RED: $RED_0;
$TEXT_LIGHT_PINK: $PINK_1;
$TEXT_PURE_WHITE: $WHITE_0;
$TEXT_PURPLE: $PURPLE_0;
$TEXT_YELLOW: $YELLOW_0;
$TEXT_DISABLED: $GRAY_0;
$TEXT_SUCCEED: $GREEN_2;

// BORDERS
$BORDER_GRAY: $GRAY_2;
$BORDER_LIGHT_GRAY: $GRAY_3;
$BORDER_GRAY_2: $GRAY_4;
$BORDER_BLACK: $BLACK_1;
$BORDER_LIGHT_BLUE: $BLUE_2;
$BORDER_BLUE: $BLUE_0;
$BORDER_YELLOW: $YELLOW_0;
$BORDER_PURPLE: $PURPLE_0;


// BORDER RADIUS
$BORDER_RADIUS_BASE: 4px;

