<div class="lr-add-story-item-btn">
  <div class="lr-add-story-item-btn__decor-line"></div>

  <div class="lr-add-story-item-btn__buttons">
    <div
      class="lr-add-story-item-btn__btn"
      (click)="addStoryItem('allegation')">
      <div class="lr-add-story-item-btn__btn-icon"></div>
      Add Allegation
    </div>
    <div
      class="lr-add-story-item-btn__btn"
      (click)="addStoryItem('fact')">
      <div class="lr-add-story-item-btn__btn-icon"></div>
      Add Fact
    </div>
    <div
      class="lr-add-story-item-btn__btn"
      (click)="addStoryItem('note')">
      <div class="lr-add-story-item-btn__btn-icon"></div>
      Add Note
    </div>
  </div>

  <div class="lr-add-story-item-btn__decor-line"></div>
</div>
