@import '../../../../../assets/styles/global';

.lr-subsection {
  border-bottom: 2px solid  $SEPARATION_LINE_LIGHT_GRAY;
}

.subsection-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px 0;

  @media screen and (min-width: 1280px) and (min-height: 800px) {
    padding: 20px 0;
  }

  &__title {
    @include medium-headline;

    @media screen and (min-width: 1280px) and (min-height: 800px) {
      @include large-headline;
    }
  }
}

.controls {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 8px;

  @media screen and (min-width: 1280px) and (min-height: 800px) {
    gap: 10px;
  }

  &_shift-arrow {
    margin-left: 10px;
  }

  &__dropdown {
    @include dropdown-menu;

    & .dropdown-menu {
      transform: translateX(calc(-100% + 30px)) !important;
    }
  }
}

.cards-container {
  display: grid;
  margin: -10px -10px 0;

  @media screen and (min-width: 320px) {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  @media screen and (min-width: 992px) {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }

  @media screen and (min-width: 1440px) {
    grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr));
  }

  &__card {
    margin: 10px;
  }
}
