@import '../../../../../assets/styles/global';

.header {
  align-items: center;
  display: flex;
  margin: 0 20px 20px 20px;

  @media screen and (min-width: 1280px) {
    margin: 30px;
  }

  &__document-title {
    @include extra-large-headline;
    font-size: 24px;
    line-height: 52px;

    @media screen and (min-width: 1280px) {
      font-size: 40px;
    }
  }

  &__controls {
    align-items: center;
    display: flex;
    gap: 8px;
    margin-left: auto;

    @media screen and (min-width: 1280px) {
      gap: 10px;
    }
  }
}

.categories {
  &__exhibits {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
