@import '../../../../../assets/styles/global';

.lr-edit-section-form {

  &__radios-title {
    margin-top: 20px;
    @include medium-paragraph;

    @media screen and (min-width: 1280px) and (min-height: 800px) {
      margin-top: 30px;
      @include large-paragraph;
    }
  }
}

.subsections-container {
  &__title,
  &__section {
    border-bottom: 1px solid $SEPARATION_LINE_LIGHT_GRAY;
  }

  &__title {
    padding: 20px 0;
  }

  &__section {
    padding: 20px;

    &:hover {
      cursor: pointer;
      background: $COVER_GRAY_TO_WHITE;
    }
  }
}
