@import '../../../../../assets/styles/global';

.user-profile {
  display: flex;
  gap: 30px;
  flex-direction: column;
  margin: 0 20px 20px 20px;

  @media screen and (min-width: 1280px) {
    margin: 30px;
  }

  &__row {
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
  }

  &__title {
    color: $TEXT_BLACK;
    display: inline-block;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
}

.control {
  color: $TEXT_DARK_GRAY;
  &__title {
    color: $TEXT_DARK_GRAY;
  }
}
