<section class='password-recovery-application'>
  <section class='password-recovery-application__form-widget form-widget'>
    <header class='form-widget__header'>
      <div class='form-widget__logo logo'>
        <div class='logo__icon'></div>
      </div>

      <h2 class='form-widget__title'>
        {{ (!passwordResetLinkReceived) ? 'Reset your password' : 'The link for recovering a password sent on your email.' }}
      </h2>
    </header>

    <form
      *ngIf="!passwordResetLinkReceived"
      [formGroup]="form"
      class='form-widget__recovery-application-form recovery-application-form'>

      <label class='lr-default-label'>
        <span>Enter your user account's verified email address and we will send you a password reset link.</span>

        <input
          formControlName='email'
          type='text'
          placeholder='Enter your email address'
          class='recovery-application-form__input'>
      </label>

      <button
        (click)="getResetPasswordLink()"
        class='recovery-application-form__submit-button primary-button'
        [disabled]="submiting.getValue()">
        Send password reset email
        <div *ngIf="submiting | async" class="btn-loader"></div>
      </button>
    </form>

    <a
      [routerLink]="['/', appRoutes.LOGIN]"
      class="form-widget__go-to-link">
      Go to Login page
    </a>
  </section>
</section>

