<section class='confirm-new-password'>
  <section class='confirm-new-password__form-widget form-widget'>
    <header class='form-widget__header'>
      <div class='form-widget__logo logo'>
        <div class='logo__icon'></div>
      </div>

      <h2 class='form-widget__title'>
<!--        Recover your password in Modus-->
        Set your new password in Modus
      </h2>
    </header>

    <form
      [formGroup]="form"
      class='form-widget__recovery-form recovery-form'>

      <label class='lr-default-label'>
        <span>New password</span>

        <input
          formControlName='newPassword'
          type='password'
          placeholder='New Password'
          class='recovery-form__input'>
      </label>

      <label class='lr-default-label'>
        <span>Confirm password</span>

        <input
          formControlName='confirmPassword'
          type='password'
          placeholder='Repeat your new password'
          class='recovery-form__input'>
      </label>

      <button
        (click)="applyNewPassword()"
        [disabled]="submiting.getValue()"
        class='recovery-form__submit-button primary-button'>
        Set new password
        <div *ngIf="submiting | async" class="btn-loader"></div>
      </button>

      <div class="recovery-form__errors">
        <div *ngIf="passwordsAreNotMatch">{{ "The passwords don't match" }}</div>
        <div *ngIf="passwordIsInvalid">{{ "The password must have a minimum length of 6 characters, at least one uppercase character, at least one non alphanumeric character and at least one digit" }}</div>
      </div>
    </form>

    <a
      *ngIf="errorOccurred | async"
      [routerLink]="['/', appRoutes.LOGIN]"
      class="form-widget__go-to-link">
      Go to Login page
    </a>
  </section>
</section>

