@import '../../../../../assets/styles/global';

.confirm-new-password {
  background: $GRAY_5;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-widget {
  padding: 20px;
  width: 450px;
  background: $COVER_PURE_WHITE;
  border-radius: 3px;

  @media screen and (min-width: 1280px) and (min-height: 800px) {
    padding: 30px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 1280px) and (min-height: 800px) {
      gap: 30px;
    }
  }

  &__title,
  &__subtitle {
    font-weight: normal;
    text-align: center;
  }

  &__go-to-link {
    display: block;
    text-align: center;
  }

}

.logo {
  display: flex;
  justify-content: center;

  &__icon {
    @include app-logo;
  }
}

.recovery-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px 0;

  @media screen and (min-width: 1280px) and (min-height: 800px) {
    gap: 30px;
  }

  &__control {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__input {
    @include reset-native-control;
    padding: 13px 10px;
    border-radius: 3px;
    font-size: 16px;
  }

  &__input {
    background: $COVER_GRAY_TO_WHITE;
    &::placeholder {
      font-size: 13px;
    }
  }

  &__submit-button {
    padding: 25px 17px;
    margin-top: 20px;
  }

  &__errors {
    @include small-paragraph;
    color: red;
  }
}
