<lr-modal>
  <ng-container modalTitle>Edit Narrative Story</ng-container>

  <form
    [formGroup]="form"
    modalContent>

    <label class="lr-default-label">
      <span>Title</span>

      <input
        autocomplete="off"
        formControlName="title"
        placeholder="Enter title"
        type="text"
        class="lr-filled-input">
    </label>

    <label class="lr-default-label">
      <span>Description</span>

      <lr-text-editor
        formControlName="description"
        [participants$]="participants$"
        placeholder="Add some details about this narrative story">
      </lr-text-editor>
    </label>
  </form>

  <ng-container modalFooter>
    <button
      (click)="closeModal()"
      type="button"
      class="cancel-button">
      cancel
    </button>

    <button
      (click)="editNarrativeStory()"
      class="primary-button"
      [disabled]="form.status === 'INVALID' || form.disabled">
      edit narrative story
      <div *ngIf="form.disabled" class="btn-loader"></div>
    </button>
  </ng-container>
</lr-modal>
