@import '../../../../../assets/styles/global';

.participant-cases {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 20px 20px 20px;

  @media screen and (min-width: 1280px) and (min-height: 800px) {
    margin: 30px;
  }
}

.case {
  align-items: center;
  background: $COVER_GRAY_TO_WHITE;
  border-radius: 4px;
  color: $TEXT_PURPLE;
  cursor: pointer;
  display: flex;
  gap: 20px;
  height: 60px;
  padding: 0 20px;
  text-decoration: none;
  width: 100%;

  &:hover {
    background: $COVER_LIGHT_GRAY;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title,
  &__description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 600px;
  }

  &__description {
    color: $TEXT_DARK_GRAY;
    font-size: 14px;
  }
}
